server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;
    
    root /var/www/html/;

    listen 443 ssl;
    index index.html index.html;


    server_name {{ server_name }};
    ssl_certificate {{ cert_file }};
    ssl_certificate_key {{ key_file }};


    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    } 

    location / {
       try_files $uri $uri/ =404;
  }
}
